<form action="/users" method="post">
  <input type="text" name="email" placeholder="email here"> 
  <input type="text" name="first_name" placeholder="first name here">
  <input type="text" name="last_name" placeholder="last name here">
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>